#footer= 'Copyright © ' + '2017 - '+date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo 
  |  -
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Theme
  |  -
  a(rel='nofollow', target='_blank', href='https://github.com/johnpoint/johnpoint.github.io')  Source.
